<body class='contrast-red login contrast-background'>
  <div class='middle-container'>
    <div class='middle-row'>
      <div class='middle-wrapper'>
        <div class='login-container-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                    <img width="121" height="31" src="assets/logo_lg.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-4 col-sm-offset-4'>

                  <% flash.each do |name, msg| %>
                  <%= content_tag(:div, msg, class: "alert alert-info") %>
                  <% end %> 
                  
                  <h1 class='text-center title'>Welcome!</h1>
                  <a href="/users/sign_up/" class='btn btn-block'>Sign Up</a>
                  <a href="/users/sign_in/" class='btn btn-block'>Sign In</a>
                </div> 
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                      <a href="http://www.cristiancisneros.com">Cristian Cisneros</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</body>
